body{background-image:url('star-wars.jpg');}

#container{font-family: 'Barlow Condensed', sans-serif;
   background-color:white; 
   padding:10px;
   margin:10px auto;
   width: 1200px;
   overflow:hidden;
   display: flex;
   flex-wrap: wrap;}

header{background-image:url('header.jpg'); 
   padding:10PX; width: 1200px}

h1{color:white;
  text-align:right;}

nav ul li{display: inline-block; 
  color:white; 
  padding:10px;
  position:static;}

li a {text-decoration: none; 
  color:white;}

nav ul li ul {display:none;
  position:relative;
  background-color: red}

nav ul li:hover ul {display:block; 
  position:absolute;
  color:black;}


.personajes{width:366px;margin:10px;border-right:3px;border-right-style:dotted;border-right-color:red; padding:5px;}
h2.tpersonajes{background-color:red;color:white; margin-top: 5px;}

.casting{width: 366px; margin:10px;border-right:3px;border-right-style:dotted;border-right-color: blue;padding:5px}
h2.tcasting{background-color:blue;color:white;margin-top: 5px;}

.rodaje{width:366px;margin: 10px; padding:5px}
h2.trodaje{background-color:green; color:white;margin-top:5px;}